// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #040F0F;
$light-gray: #F4F4F4;


$white: #FFFAFF;
$orange-figma: #D96C06;
$background-blue: #fbffff;
$tile-figma: #0FA3B1;