.carity-show-img {

}

.charity-show-name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 1px;
    text-align: center;

    color: #040F0F;
}

.carity-show-category {
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #040F0F;
}

.carity-show-paragraph {  
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;

    color: #444444;
}

.container {
  position: relative;
}


