#center-this {
    text-align: center;
}

#pay {
    width: 110px;
    height: 50px;
    font-weight: 900;
    font-size: 30px;

    color: $background-blue;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding-bottom: 53px;
}