// Specific CSS for your home-page

body {
  padding-top: 76px;
  background-color: $background-blue;
}

.page-header-3 h2 {
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #198d98;
  margin: 24px auto;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: solid 1px;
  font-size: 2.5rem;
}

.page-header-2 h3 {
  color: #198d98;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

}
.wrapper {
  min-height: 90vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;

}
.inner {
  // for scrolling to bottom
}


.first {
  z-index: -100!important;
  background-color: $gray;
  display: flex;
  min-height: 93vh;
}

.second {
  background-color: $background-blue;
  min-height: 100vh;
}

.third {
  background-color: $white;
  min-height: 100vh;

}

.fourth {
  background-color: $background-blue;
  min-height: 93vh;
}

.example {
  max-width: 50%;
  margin-left: 0;
}



@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1s ease forwards;
}
.hidden {
  opacity: 0;
}

.smaller img{
  size: 95%;
}

.banner {

  position: relative;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1000;
}

.search-field {
  position: absolute;
  width: 33%;
  top: 40%;
  left: 41%; 
  z-index: 1001;
}

.arrow-button{
  height: 56px;
  width: 56px;
  bottom: -25px;
  left: 50%;
  margin: 0 0 50px -28px;
  background: rgba(34,34,34,0.35);
  visibility: visible;
  position: fixed;
  z-index: 500;
  cursor: pointer;
  background-size: 24px;
  border-radius: 100%;
  transition: all .15s ease-out;
  display: none;
  &:hover {
    height: 70px;
    width: 70px;
    margin: 0 0 38px -35px;
    background: rgba(34,34,34,0.5);
  }
  img {
    height: 24px;
    width: 24px;
    top: 50%;
    left: 50%;
    margin: -12px;
    position: absolute;
    display: none; 
  }
}

.image-responsive img {
  max-width: 80%;
  margin: 0 auto;
}

.charity-card-container {
  position: relative;
  width: 286.86px;
  height: 474px;
  
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.charity-card-container .charity-logo {
  position: absolute;
  left: 11.85%;
  top: 6.33%;
}

.charity-card-container .charity-text-box {
  position: absolute;
  left: 11%;
  right: 11%;
  top: 50.21%;
  bottom: 37.97%;
  height: 150px;
}
.charity-card-container .charity-text-box .header-3 {

  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height */
  
  display: flex;
  text-align: center;
  justify-content: center;

  letter-spacing: 1px;
  
  color: #000000;
}


.charity-card-container .charity-text-box .category {

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
text-align: center;
justify-content: center;
letter-spacing: 1px;

color: #000000;
}

.charity-card-container .donation {

  position: absolute;
  left: 5%;
  top: 85%;
  
  font-family: Montserrat;

  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 3px;
  justify-content: center;  
  color: #FFFFFF;

  background: $tile-figma;
  border-radius: 3px;
  height: 46px;
  width: 260px;
}

.smaller {
  max-width: 33%;
  margin-right: 0;
}

.border-bottom {
  margin: 20% 0 10% 0;
  padding-bottom: 20%;
}