  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      If you don't have such a big <i class="fas fa-heart"></i> visit <a class="long-term-giving" href="https://rent-a-tank.herokuapp.com/" target="_blank">TanksBnB</a>
    </div>
  </div>

