<a href="https://de.finance.yahoo.com/quote/<%= choice.asset.stock_symbol %>" target="_blank">
    <div class="btn-info">
        <div class="info-text">
            Info
        </div>
    </div>
</a>