<!-- bannersection  --> 
<div class="wrapper">
  <div class="container-fluid first inner flex" >
      <div class="banner">
    <br>
    <%= form_tag charities_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find your charity!"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>


  <div class="container-fluid second inner flex">
   <p>what we do explanation</p>
  </div>

  <div class="container-fluid third inner flex">
    one example charity
  </div>
</div>











