<div class="container">
  <br>
  <%= link_to '/' do %>
    <h3>Back to Home</h3>
  <% end %>
  <br>

  <%= render 'shared/search-charities' %>
  <%= render 'shared/charity_card', charities: @charities %>
</div>
