<div class="container">
  <br>
  <div class="container w-50 mx-auto">
    <h3>Our Powerful Partners in disrupting non-Profit</h3>
    
    <br>
    <div class="ml-1">
      <div class="form-inline search-charity d-flex ml-5 pl-5">
        <%= form_tag charities_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-custom",
            placeholder: "Find your charity!"
          %>
          <%= submit_tag "Search", class: "btn btn-primary btn-custom" %>
        <% end %>
      </div>
  </div>
</div>
  <%= render 'shared/charity_card', charities: @charities %>
</div>
