<div class="container">
  <br>

  <div class="row">
    <div class="mx-auto">
    <h3>Our Powerful Partners in disrupting non-Profit</h3>
    </div>
  </div>
    <br>
  <div class="row">
    <div class="mx-auto">
      <div class="form-inline search-charity d-flex">
        <%= form_tag charities_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control search-custom",
            placeholder: "Find your charity!"
          %>
          <%= submit_tag "Search", class: "btn btn-primary btn-custom" %>
        <% end %>
      </div>
  </div>
</div>

    <%= render 'shared/charity_card', charities: @charities %>
</div>
