.animation-swing {
  transform: translateX(-10%);
    height: 110%;
    margin: 0 auto;
    margin-top: -12%;
    width: auto;
    max-width: 100%;
    animation: slide 12s linear infinite alternate;
    position: absolute;
    opacity: 0.5;

    @keyframes slide {
      0% {
        transform: translateX(-10%);
        opacity: 0;
      }
      100% {
          opacity: 1;
          transform: translateX(calc(100vw - 20%));
      }
    }
}


.s1 {
    animation-delay: -3.7s;
}
.s2 {
    animation-delay: -3s;
}
.s3 {
    animation-delay: -2.3s;
}
.s4 {
    animation-delay: -1.6s;
}
.s5 {
    animation-delay: -0.9s;
}
.s6 {
    animation-delay: -0.2s;
}
.s7 {
    animation-delay: 0.5s;
}
.s8 {
    animation-delay: 1.2s;
}
.s9 {
    animation-delay: 1.9s;
}
