.charity-card-container {
    position: relative;
    width: 286.86px;
    height: 474px;
    
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.charity-card-container .charity-logo {
    position: absolute;
    left: 11.85%;
    top: 6.33%;
}

.charity-card-container .charity-text-box {
    position: absolute;
    left: 13.94%;
    right: 13.9%;
    top: 50.21%;
    bottom: 37.97%;
    height: 150px;
}
.charity-card-container .charity-text-box .header-3 {

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    
    display: flex;
    text-align: center;
    justify-content: center;

    letter-spacing: 1px;
    
    color: #000000;
}


.charity-card-container .charity-text-box .category {

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
text-align: center;
justify-content: center;
letter-spacing: 1px;

color: #000000;
}

.charity-card-container .donation {

    position: absolute;
    left: 5%;
    top: 85%;
    
    font-family: Montserrat;

    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    justify-content: center;  
    color: #FFFFFF;

    background: #1B4963;
    border-radius: 3px;
    height: 46px;
    width: 260px;
}

