.container-dashboard {
  display: flex;
  width: 100%;
}

.container-favourites {
  margin: 10px;
  min-width: 45%;
  min-height: auto;
  width: auto;
  height: auto;
  overflow: hidden;
}

.container-history {
  margin: 10px;
  min-width: auto;
  min-height: auto;
  width: auto;
  height: auto;
}

