.form-login {
    background: rgba(4,15,15,0.9);
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    h2 {
      color: $light-gray;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
      text-align: center;
    }
    .btn {
      width: 100%;
      margin-bottom: 20px;
      background: $orange;
    }
    a {
        color: $orange;
    }
  }

.viewheight {
    height: calc(100vh - 156px);
  }
  
  .text-gray {
    color: $light-gray;
    text-align: center;
    h3 {
      color: $light-gray;
    }
  }

  .btn-custom-donation {
    background: #0ba3b2!important;
    border: solid 1px #0ba3b2;
    font-family: Montserrat;

    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3rem;
    justify-content: center;  
    color: #FFFFFF;

    background: $tile-figma;
    border-radius: 3px;
    height: 46px;
    width: 260px;


    &:hover {
        background: #0ba4b2c9!important;
        border: solid 1px #0ba3b2;
    }
}
