h1 {
  margin: 2% 10%;
  color: #040F0F;
}

.container-history {
  margin: 30px;
}

.wrap-table100 {
  background-color: #f4f4f2;
  margin: 5px 20px;
  padding: 5px 5px;
}

.tablever1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tabledata {
  background-color: #FFFFFF;
  color: #1B4963;
  box-shadow: 2px 3px #cfd3ce;
  text-align: center;
  padding: 3px 3px;
  margin: 2px 2px;
  width: 100%;
}

.table-header {
  text-align: center;
  opacity: 50%;
  color: #3797a4;
}

