.stock-card-container {
    position: relative;
    width: 939px;
    height: 258px;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 53.65%, rgba(255, 255, 255, 0) 100%), radial-gradient(53.1% 93.81% at 50% 50%, #0FA3B1 9.38%, rgba(15, 163, 177, 0.51) 69.79%);
    opacity: 0.3;
    border: 1px solid #1B4963;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

